@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <h1>Hello</h1>
    <p>This your home page, the famous index.html</p>
    <p>You may start edting this file at <pre>View / Home / index.cshtml</pre></p>

</div>
<div class="row">
    <p>Remember this is a blogging website, thus you'll need some basic elements for a blog website such as navigation.</p>
    <p>This MVC Web App uses Bootstrap <strong>version 3</strong>. Pleace check here <a href="http://getbootstrap.com/docs/3.3/css/">Bootstrap 3 documentation to get started with modifying the looks.</a></p>
    <p>As a reminder, below is a checklist of task your blog website should have:</p>
    <ul>
        <li>
            Implement proper routing mechanism
        </li>
        <li>
            Front page of the website display blog articles in a list with sufficient navigation to sort all the blog articles according to the information available inside the metadata found in the database
        </li>
        <li>
            Read and parse blog articles from database
        </li>
        <li>
            Display blog articles inside individual page
        </li>
        <li>
            Display blog article’s comments
        </li>
        <li>
            Get user comment for individual blog by providing an input form.
        </li>
        <li>
            Validation of data for input form and sanitation (security: XSS) before storing (or before displaying).
        </li>
    </ul>

    <a asp-controller="Blogs" asp-action="Index">Click here to view Blog section created by EF tooling scaffolding.</a>
</div>
